html, body { 
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}


#map_canvas {
	height: 100%;
	min-height: 800px;
	width: 100%;
}

#tools {
	position: absolute;
	z-index: 99;
	top: 10px;
	left: 70px;
	width: 300px;
	float: left;
}

#info {
	float: right;
	top: 30px;
	right: 70px;
	width: 300px;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
}

#opacity{
	text-align: center
}

#container {
	position: absolute;
}